<div class="contenedor">
    <ul>
     <div class="producto">
         <a href="">
             <div class="card" style="width: 15rem;">
                 <img src="../../assets/ProductosRunning/remera.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                   <p class="card-text">Remera Adidas</p>
                   <p class="precio">$40.000</p>
                 </div>
               </div>
         </a>
     </div>
     <div class="producto">
         <a href="">
             <div class="card" style="width: 15rem;">
                 <img src="../../assets/ProductosRunning/remera2.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                   <p class="card-text">Remera Blanca</p>
                   <p class="precio">$35.000</p>
                 </div>
               </div>
         </a>
     </div>
     <div class="producto">
         <a href="">
             <div class="card" style="width: 15rem;">
                 <img src="../../assets/ProductosRunning/short.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                   <p class="card-text">Short Azul</p>
                   <p class="precio">$30.000</p>
                 </div>
               </div>
         </a>
     </div>
     <div class="producto">
         <a href="">
             <div class="card" style="width: 15rem;">
                 <img src="../../assets/ProductosRunning/zapas.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                   <p class="card-text">Zapas Reebok</p>
                   <p class="precio">$125.000</p>
                 </div>
               </div>
         </a>
     </div>
     <div class="producto">
      <a href="">
          <div class="card" style="width: 15rem;">
              <img src="../../assets/ProductosRunning/zapas2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Zapas Reebok2</p>
                <p class="precio">$125.000</p>
              </div>
            </div>
      </a>
  </div>
    </ul>
 </div>
